html,
body,
body * {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;  
}/*reset all*/


/*

                landing scheme
 -----------------------------------------------
|                     body                      |
|                 display: flex                 |
|  -------------------------------------------  |
| |                  section 1                | |
| |       padding left top right bottom       | |
| |                 width 100%                | |
| |              display: no matter           | |
| |  ---------------------------------------  | |
| | |                                       | | |
| | |            section 1 inner            | | |
| | |              display: flex            | | |
| | |        specified flex properties      | | |
| | |           width:100%;height:100%;     | | |
| | |                                       | | |
| |  ---------------------------------------  | |
|  -------------------------------------------  |
|                                               |
|  -------------------------------------------  |
| |                  section 2                | |
| |       padding left top right bottom       | |
| |                 width 100%                | |
| |              display: no matter           | |
| |  ---------------------------------------  | |
| | |                                       | | |
| | |            section 2 inner            | | |
| | |              display: flex            | | |
| | |        specified flex properties      | | |
| | |           width:100%;height:100%;     | | |
| | |                                       | | |
| |  ---------------------------------------  | |
|  -------------------------------------------  |
|                                               |
|                       ...                     |
|  -------------------------------------------  |
| |                  section n                | |
| |       padding left top right bottom       | |
| |                 width 100%                | |
| |              display: no matter           | |
| |  ---------------------------------------  | |
| | |                                       | | |
| | |            section n inner            | | |
| | |              display: flex            | | |
| | |        specified flex properties      | | |
| | |           width:100%;height:100%;     | | |
| | |                                       | | |
| |  ---------------------------------------  | |
|  -------------------------------------------  |
|                                               |
|                                               |
|                                               |
 -----------------------------------------------






*/







:root{
    --h-button-padding: 25px;
    --h-button-width: 20%;
    --first-depth-containers-padding:10vw;


    --s-cols:4;/*should be mediaqueryfied*/
    --s-items-margin:5px;

    --bts-transitions: background 0.4s, color 0.4s;

    --w-grid-example-size: calc( ( 98vw - 2 * var(--first-depth-containers-padding) ) / var(--w-cols) - 5px *(2 * var(--w-cols)) );

}


body * {
    font-family: 'Open Sans', sans-serif;
    display: flex;
}

body {
    width: calc( 100vw - (100vw - 100%)  );

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
}



body a {
    color: white;
    text-decoration: none;
}



body>*{ /*all 1-depth children*/
    padding-left: var(--first-depth-containers-padding);
    padding-right: var(--first-depth-containers-padding);
    justify-content: center;
}

body>*>*{/*all 2-depth children i.e. .*-tile*/
    width: 100%;
    height: 100%;
}



.h-menu .menu{
    position: fixed;
    width: 100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 500;
    opacity: 0.95;
    background: #ec9213;

    transition: 0.5s;

    justify-content: center;
    align-content: center;
    align-items: center;
}
.h-menu .hidden{
    transform: translateY(-100%);
}
.h-menu .visible{
    transform: none;
}
.h-menu *:not(.menu){
    z-index: 600;
}


.header {
    padding-top:2vh;
    height: 93vh;
    padding-bottom: 5vh;

    color: white;
    background: #3f89c6;

    align-items: stretch;
}
.header *{
    text-align: center;
}

.header>.h-tile {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}



.header .h-row{
    justify-content: center;
}
.header .h-row:first-child{ /* .h-menu parent */
    justify-content: flex-end;
}
.header .h-buttons{
    justify-content: space-around;
}



.header .h-menu{
    align-items: center;
}



.h-button {
    background: transparent;
    padding: var(--h-button-padding);
    border-radius: calc( var(--h-button-padding)/2 );
    background: #ec9213;

    min-width: var(--h-button-width);
    justify-content: center;
    transition: var(--bts-transitions);
}

.h-button:hover {
    background: white;
    color: #ec9213;
}





.services {
    background: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.s-tile {
    width: 100%;
    height: 100%;

    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;   
}

.s-tile>* {
   width: calc( 100% / var(--s-cols) - 2 * var(--s-cols) * var(--s-items-margin) );
   margin: var(--s-items-margin);
}

.s-col,
.s-col * {
    flex-direction: column;
    justify-content: flex-start;
}

.s-img {
    height: auto;
    width: 100%;
}




.subscribe {
    background-color: #3f89c6;
    justify-content: center;
    align-items: center;

    padding-top:20vh;
    padding-bottom: 20vh;
}

.subscribe>form {
    justify-content: center;
    flex-wrap: wrap;
}

.subscribe>form>* {
    padding: 3vh;
    border-radius: 10px;
    font-size: 2vh;
}

.subscribe>form>input {
    width: calc(100% - 25% - 10px - 2 * 3vh);
    margin-right: 5px;

 }

.subscribe>form>button {
    background: #ec9213;
    width: calc(25% - 2 * 3vh );
    min-width: fit-content;
    color: white;
    justify-content: center;
    transition: var(--bts-transition);
}

.subscribe>form>button:hover {
    background: white;
    color: #ec9213;
}





.works {
    padding-top: 10vh;
    padding-bottom: 10vh;
    background: white;
}

.w-tile {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.w-text {
    flex-direction: column;
}

.w-text>*{
    text-align: center;
    justify-content: center;
}

.w-head {
    font-size: 1.5em;
}

.w-show-more{
    justify-content: center;
    align-items: center;
}
.w-show-more>a {
    text-decoration: none;
    justify-content: center;
    color: #3f89c6;
    transition: var(--bts-transitions);
}
.w-show-more>a:hover{
    color: #fc9213;
}


.w-grid {
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}



.w-grid-example {
    display: block;
    width: var(--w-grid-example-size);
    height: var(--w-grid-example-size);
    margin: 5px;

}

.w-grid-example:nth-child(n+7){
    display: none;
}

.w-grid-example>* {
    display: block;

    position: absolute;
    width: var(--w-grid-example-size);
    height: var(--w-grid-example-size);
    border-radius: 10px;
}





.w-grid-example>.visible>* {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.w-grid-example>.hidden {
    background: #3f89c6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    z-index: 60;
    opacity: 0;
    transition: 1s;
}

.w-grid-example>.hidden>.h-in {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: white;
    height: 80%;
    width: 80%;
    padding: 10%;
}

.g-e-btn {
    justify-content: center;
    width: 90%;
    font-size: 1.25em;
    text-decoration: none;
    padding: 5%;
    border-radius: 10px;
    background: white;
    color: #3f89c6;
    cursor: pointer;
}
.g-e-headr{
    font-size: 1.55em;
}
.g-e-paragraf{
    font-size: 0.95em;
}



.w-grid-example:hover .hidden {
    opacity: 0.85;
}



.speeches {
    justify-content: space-between;
    align-items: center;
    background: #3f89c6;
    color: white;
    padding: 5%;
    min-height: 60vh;
    height: fit-content;
}


.sp-tile {
    width: 80%;

    height: max-content;
    overflow: hidden;

}

.sp-slide {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    opacity: 0;
    height: auto;
    
    position: absolute;
    transition:  1s;
}

.sp-tile>.active {
    width: 100%;
    position: static;
    display: flex;
    opacity: 1;
    transform: none;

}

.sp-tile>.before {
    transform: translateX(-100%);
    display: none;

}

.sp-tile>.after {
    transform: translateX(100%);
    display: none;

}

.sp-slide>.sp-img {
    width: 30vmin;
    height: 30vmin;
    margin-bottom: 5vh;
    border-radius: 50%;
}

.sp-slide>.sp-p {
    font-style: italic;
    margin-bottom: 10vh;
    width: 100%;
}

.sp-slide>.sp-p::before{
    content: "\"";
}

.sp-slide>.sp-p::after{

    content: "\"";
    margin-right: 5px;
    display: flex;
    align-items: flex-end;
}



.sp-leftctrl,
.sp-rightctrl {
    z-index: 100;
    color: white;
    width:10%;
    align-items: center;
}
.sp-leftctrl{
    justify-content: flex-start;
}
.sp-rightctrl{
    justify-content: flex-end;
}


.faces {/*causes overflow*/
    justify-content: center;
    align-items: center;
    background: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.f-tile {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.f-text {
    flex-direction: column;
    align-self: center;
    width: 100%;
    
}

.f-text>* {
    text-align: center;
    justify-content: center;
}

.f-blocks {
    justify-content: space-around;
    align-items: stretch;
    min-height: 60vh;
    flex-wrap: wrap;
}

.f-blocks>.f-block {
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    padding: 2%;
    width:calc( 100% / var(--s-cols) - 2 * 2% );
}

.f-block * {
    transition:all 0.5s;
    justify-content: center;
}

.f-block>*:not(.f-about) {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    cursor: pointer;
}

.f-block:hover>* {
    filter: none;
    -webkit-filter: none;
    -ms-filter: none;
}

.f-face {    
    align-items: flex-end;
}

.f-face>img {
    width: 100%;
    height: auto;
    max-height: 75vh;
    border-radius: 10px;
     transition:all 0.5s;
}



.f-block:hover .f-face>img {
    max-height: 55vh;
    border-bottom: 10px solid #3f89c6;
    
}

.f-name {
    padding-top: 4vh;
}

.f-socials {
    padding-top: 3vh;
    padding-bottom: 3vh;
    flex-wrap: wrap;
}

.f-socials a:nth-child(1) .fa-circle  {
    color: #3B5998;
}

.f-socials a:nth-child(2) .fa-circle {
    color: #4099FF;
}

.f-socials a:nth-child(3) .fa-circle {
    color: #dd4b39;
}

.f-dots {
    align-self: center;
    justify-content: space-around;
    align-items: center;

    height: 15px;
}

.f-dots>.dot {
    height: 10px;
    width: 10px;
    background: lightgrey;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 50%;
}

.f-dots>.dot:first-child {
    margin-left: 12px;
}

.f-dots>.dot:last-child {
    margin-right: 12px;
}

.f-dots>.active {
    height: 13px;
    width: 13px;
    background: #3f89c6;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 50%;
}



.say{
    justify-content: center;
    align-items: center;
    background: #ec9213;
    color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.say-tile{
    flex-direction: column;
    width: 100%;
}

.say-tile>*{
    flex-direction: column;
}
.say-tile form {
    flex-direction: column;
    align-items: stretch;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.say-tile form>*{
    margin-top: 3vh;
}
.say-tile .say-text *{
    justify-content: center;
}


.say-tile .form-row-short{
    justify-content: space-between;
}
.form-row-short>*:not(button){
    width: 40%;
}
.say-tile .form-row-long{
    flex-direction: column;
} 


.say-tile form input,.say-tile form textarea,.say-tile form button{
    padding: 10px;
    align-self: stretch;
    border-radius: 10px;
    resize: none;
    font-size: 2vh;
}
.say-tile form button{
    background: #3f89c6;
    color: white;
    font-size: 2.5vh;
    width: fit-content;
    align-self: center;
    transition: var(--bts-transitions);
}

.say-tile form button:hover{
    background: white;
    color: #3f89c6;
}


.social-block{
    flex-wrap: wrap;
}

.social-block a:nth-child(1) .fa-circle {
    color: #3B5998;
}

.social-block a:nth-child(2) .fa-circle{
    color: #4099FF;
}
.social-block a:nth-child(3) .fa-circle {
    color: #dd4b39;
}





.footer{
    justify-content: center;
    align-items: stretch;
    background: white;
    padding-top: 3vh;
    padding-bottom: 2vh;
}
.footer-tile{
    width: 80vw;
    justify-content: flex-start;
    align-items: center;
}




/*s1236*/
@media screen and  ( max-width: 9999px ){
    :root{
        --w-cols:3;
        --s-cols:4;
    }
}

@media screen and  ( max-width: 1024px ){
    :root{
        --w-cols:3;
        --s-cols:3;
    }
}

@media screen and  ( max-width: 768px ){
    :root{
        --w-cols:2;
        --s-cols:2;
    }

    .footer-tile{
        justify-content: center;
        text-align: center;
    }

    .footer-tile *{
        display: inline;
    }
}

@media screen and  ( max-width: 425px ){
    :root{
        --w-cols: 1;
        --s-cols:1;
    }

    .subscribe>form>input{
        width: 100%;
        margin-bottom: 10px;
    }
    .subscribe>form>button{
        width: 100%;
    }
}
/*e1236*/