html,
body,
body * {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;  
}/*reset all*/



:root{
    --h-button-padding: 15px;
    --h-button-width: 30%;
}


body * {
    font-family: 'Open Sans', sans-serif;
    display: flex;
}

body {
    width: calc( 100vw - (100vw - 100%)  );

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
}



body a {
    color: white;
    text-decoration: none;
}



body>*{ /*all 1-depth children*/
    padding-left: 10%;
    padding-right: 10%;
}


.header {
    padding-top:2vh;
    height: 93vh;
    padding-bottom: 5vh;

    color: white;
    background: #3f89c6;

    justify-content: center;
    align-items: stretch;
}
.header *{
    text-align: center;
}

.header>.h-tile {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}



.header .h-row{
    justify-content: center;
}
.header .h-row:first-child{ /* .h-menu parent */
    justify-content: flex-end;
}
.header .h-buttons{
    justify-content: space-around;
}



.header .h-menu{
    align-items: center;
}



.h-button {
    background: transparent;
    padding: var(--h-button-padding);
    border-radius: calc( var(--h-button-padding)/2 );
}

.h-button:hover {
    background: white;
    color: #3f89c6;
    transition: 0.3s;
}





.services {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.s-tile {
    width: 80vw;

    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.s-tile>* {
    width: calc( 80vw / var(--cols)*3/4 - 5px *(2 * var(--cols)) );
    margin: 5px;
}

.s-col,
.s-col * {
    flex-direction: column;
    justify-content: flex-start;
}

.s-img {
    height: auto;
    width: 100%;
}

.subscribe {
    background-color: #3f89c6;
    min-height: 40vh;
    color: white;
    justify-content: center;
    align-items: center;
}

.subscribe>form {
    justify-content: space-between;
    width: 70vw;
}

.subscribe>form>* {
    padding: 3vh;
    border-radius: 10px;
    font-size: 2vh;
}

.subscribe>form>input {
    width: calc(70% - 2*10px);
}

.subscribe>form>button {
    background: white;
    width: 25%;
    color: #3f89c6;
}












.works {
    justify-content: center;
    align-content: stretch;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background: white;
}

.w-tile {
    flex-direction: column;
    width: 80vw;
    justify-content: space-between;
}

.w-text {
    flex-direction: column;
}












.w-grid {
    display: flex;
    justify-content:center;
    align-content: center;
    flex-wrap: wrap;

    width: 100%;
    min-height: 70vh;
}



.w-grid-example {
    display: block;
    width: calc( 80vw / var(--cols) - 5px *(2 * var(--cols)) );
    height: calc( 80vw / var(--cols) - 5px *(2 * var(--cols)) );
    margin: 5px;
    overflow: hidden;
    background: yellowgreen;
}

.w-grid-example:nth-child(n+7){
    display: none;
}

.w-grid-example>* {
    display: block;


    position: absolute;
    width: calc( 80vw / var(--cols) - 5px *(2 * var(--cols)) );
    height: calc( 80vw / var(--cols) - 5px *(2 * var(--cols)) );
    border-radius: 10px;
}




.w-grid-example>.visible>* {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.w-grid-example>.hidden {
    background: #3f89c6;
    display: flex;
    justify-content: center;
    z-index: 60;
    opacity: 0;
    transition: 1s;
}

.w-grid-example>.hidden>.h-in {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: white;
}

.g-e-btn {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    font-size: 2vh;
    display: block;
    text-decoration: none;
    padding: 5%;
    border-radius: 5px;
    background: white;
    color: #3f89c6;
    cursor: pointer;
}
.g-e-headr{
    font-size: 2vh;
}
.g-e-paragraf{
    font-size: 1.5vh;
}



.w-grid-example:hover .hidden {
    opacity: 0.85;
}

.w-head {
    font-size: 1.5em;
}

.w-p {
    text-align: center;
    margin-bottom: 5vh;
}

.w-show-more {
    margin-top: 5vh;
}

.w-show-more>* {
    text-decoration: none;
    color: #3f89c6;
}

@media screen and  ( min-width: 769px ){
    :root{
        --cols:3;
    }
}

@media screen and  ( max-width: 768px ){
    :root{
        --cols:2;
    }
}
/*s1236*/
@media screen and  ( max-width: 425px ){
    :root{
        --cols: 1;
    }
}
/*e1236*/
/*e1237*/



/*e1237*/
























.speeches {
    justify-content: center;
    align-items: center;
    background: #3f89c6;
        color: white;
}



.sp-tile {
    width: 60vw;
    height: 50vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    overflow: hidden;
}

.sp-slide {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    opacity: 0;
    height: 100%;
    width: 0;
    transition: opacity 2s;
}

.sp-tile>.active {
    width: 100%;
    position: static;
    display: flex;
    opacity: 1;
    transition: opacity 2s 0.1s, width ;
}

.sp-tile>.before {
    transform: translateX(-100%);
    transition: 0.5s;
}

.sp-tile>.after {
    transform: translateX(100%);
    transition: 0.5s;
}

.sp-slide>.sp-img {
    width: 20vmin;
    height: 20vmin;
    margin-bottom: 5vh;
    border-radius: 50%;
}

.sp-slide>.sp-p {
    margin-bottom: 10vh;
    width: 80%;
}

.sp-leftctrl,
.sp-rightctrl {
    z-index: 100;
    color: white;
}

.faces {/*causes overflow*/
display:  none !important;/*dev*/
    justify-content: center;
    align-items: center;
    background: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.f-tile {
    width: 80vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.f-text {
    flex-direction: column;
    align-self: center;
    width: 50%;
}

.f-text>* {
    text-align: center;
}

.f-blocks {
    justify-content: space-around;
    align-items: stretch;
    min-height: 80vh;
    flex-wrap: wrap;
}

.f-blocks>.f-block {
    flex-direction: column;
    padding: 25px;
    align-items: center;
    min-height: 60vh;
    width: 20%;
}

.f-block * {
    transition: 0.5s;
}

.f-block>*:not(.f-about) {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    width: 90%;
    cursor: pointer;
}

.f-block:hover>* {
    filter: none;
    -webkit-filter: none;
    -ms-filter: none;
}

.f-face {
    
    align-items: flex-end;
}

.f-face>img {
    width: 90%;
    height: auto;
    max-height: 75vh;
    border-radius: 7px;
}

.f-block:hover .f-face {
    width: 100%;
}

.f-block:hover .f-face>img {
    max-height: 70vh;
    border-bottom: 10px solid #3f89c6;
}

.f-name {
    padding-top: 4vh;
}

.f-socials {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.f-socials a:nth-child(1) .fa-circle  {
    color: #3B5998;
}

.f-socials a:nth-child(2) .fa-circle {
    color: #4099FF;
}

.f-socials a:nth-child(3) .fa-circle {
    color: #dd4b39;
}

.f-dots {
    align-self: center;
    justify-content: space-around;
    align-items: center;

    height: 15px;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.f-dots>.dot {
    height: 10px;
    width: 10px;
    background: lightgrey;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 50%;
}

.f-dots>.dot:first-child {
    margin-left: 12px;
}

.f-dots>.dot:last-child {
    margin-right: 12px;
}

.f-dots>.active {
    height: 13px;
    width: 13px;
    background: #3f89c6;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 50%;
}



.say{
    justify-content: center;
    align-items: center;
    background: #3f89c6;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.say-tile{
    flex-direction: column;
    width: 80vw;
}
.say-tile>*{
    flex-direction: column;
}
.say-tile form {
    flex-direction: column;
    align-items: stretch;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.say-tile form>*{
    margin-top: 3vh;
}

.say-tile .form-row-short{
    justify-content: space-between;
}
.form-row-short>*:not(button){
    width: 45%;
}
.say-tile .form-row-long{
    flex-direction: column;
} 


.say-tile form input,.say-tile form textarea,.say-tile form button{
    padding: 10px;
    align-self: stretch;
    border-radius: 10px;
    resize: none;
    font-size: 2vh;
}
.say-tile form button{
    background: white;
    font-size: 2vh;
    width: 20vw;
}






.social-block a:nth-child(1) .fa-circle {
    color: #3B5998;
}

.social-block a:nth-child(2) .fa-circle{
    color: #4099FF;
}
.social-block a:nth-child(3) .fa-circle {
    color: #dd4b39;
}





.footer{
    justify-content: center;
    align-items: stretch;
    background: white;
}
.footer-tile{
    width: 80vw;
    justify-content: flex-start;
    align-items: center;
}

